[Unit]
Description=hmpsk with sshfs

[Mount]
What=%u@87.92.72.69:.
Where=%h/mnt/hmpsk
Type=fuse.sshfs
Options=_netdev,user,port=39096,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3,uid=%U,gid=%G
TimeoutSec=20

[Install]
WantedBy=default.target
