[Unit]
Description=gustafla.space with sshfs

[Mount]
What=%u@gustafla.space:.
Where=%h/mnt/elite
Type=fuse.sshfs
Options=_netdev,user,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3,uid=%U,gid=%G
TimeoutSec=20

[Install]
WantedBy=default.target
