# Ignore everything in my home directory by default
*

# Except for these
!.bash_aliases
!.bash_profile
!.bashrc
!.config/
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/cmus/
!.config/cmus/rc
!.config/easyeffects/
!.config/easyeffects/output/
!.config/easyeffects/output/*
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/foot/
!.config/foot/foot.ini
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/helix/
!.config/helix/config.toml
!.config/i3status/
!.config/i3status/config
!.config/khal/
!.config/khal/config
!.config/mimeapps.list
!.config/mpv/
!.config/mpv/mpv.conf
!.config/nvim/**
!.config/sway/
!.config/sway/bg.sh
!.config/sway/config
!.config/swaylock/
!.config/swaylock/config
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/bg.service
!.config/systemd/user/bg.timer
!.config/systemd/user/home-gustafla-mnt-elite.mount
!.config/todoman/
!.config/todoman/config.py
!.config/topgrade.toml
!.config/user-dirs.dirs
!.config/vdirsyncer/
!.config/vdirsyncer/config
!.gitconfig*
!.gitignore
!.gnupg/
!.gnupg/gpg-agent.conf
!.gtkrc-2.0
!.icons/
!.icons/default/
!.icons/default/index.theme
!.local/
!.local/bin/
!.local/bin/documenu
!.local/bin/encode_music.sh
!.local/bin/passmenu
!.local/share/
!.local/share/applications/
!.local/share/applications/editor.desktop
!.local/share/applications/jar.desktop
!.local/share/nvim/
!.local/share/nvim/site/
!.local/share/nvim/site/pack/
!.local/share/nvim/site/pack/git-plugins/
!.local/share/nvim/site/pack/git-plugins/start/
!.local/share/nvim/site/pack/git-plugins/start/**
!.local/src/
!.local/src/dwm/
!.local/src/dwm/config.h
!.local/src/st/
!.local/src/st/config.h
!.local/src/wterm/
!.local/src/wterm/include/
!.local/src/wterm/include/config.h
!.npmrc
!.profile
!.vice/
!.vice/sdl-vicerc
