[user]
    email = me@gustafla.space
    name = Lauri Gustafsson
[push]
    default = matching
[pull]
    rebase = false
[color]
    diff = auto
    ui = true
    pager = true
[includeIf "gitdir:~/tuxera/"]
    path = .gitconfig_tuxera
