[user]
    email = lauri.gustafsson@iki.fi
    name = Lauri Gustafsson
[includeIf "gitdir:~/tuxera/"]
    path = .gitconfig_tuxera
[push]
    default = matching
[pull]
    rebase = false
[init]
    defaultBranch = main
[commit]
    verbose = true
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    diff = auto
    ui = true
    pager = true
    branch = auto
    interactive = auto
    status = auto
