[user]
    email = me@gustafla.space
    name = Lauri Gustafsson
[push]
    default = matching
[pull]
    rebase = false
[color]
    pager = no
[includeIf "gitdir:~/tuxera/"]
    path = .gitconfig_tuxera
