[submodule ".local/share/nvim/site/pack/git-plugins/start/ale"]
	path = .local/share/nvim/site/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-glsl"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule ".local/share/nvim/site/pack/git-plugins/start/mesonic"]
	path = .local/share/nvim/site/pack/git-plugins/start/mesonic
	url = https://github.com/igankevich/mesonic.git
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-airline"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-racer"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
