# Ignore everything in my home directory by default
*

# Except for these
!.bash_aliases
!.bash_profile
!.bashrc
!.config/
!.config/alacritty/alacritty.yml
!.config/cmus/rc
!.config/easyeffects/
!.config/easyeffects/output/
!.config/easyeffects/output/*
!.config/fontconfig/fonts.conf
!.config/foot/foot.ini
!.config/gtk-3.0/settings.ini
!.config/i3status/config
!.config/khal/config
!.config/mimeapps.list
!.config/mpv/mpv.conf
!.config/nvim/**
!.config/sway/bg.sh
!.config/sway/config
!.config/swaylock/config
!.config/systemd/user/bg.service
!.config/systemd/user/bg.timer
!.config/systemd/user/home-gustafla-mnt-elite.mount
!.config/todoman/config.py
!.config/topgrade.toml
!.config/user-dirs.dirs
!.config/vdirsyncer/config
!.gitconfig*
!.gitignore
!.gnupg/gpg-agent.conf
!.gtkrc-2.0
!.icons/default/index.theme
!.local/bin/documenu
!.local/bin/encode_music.sh
!.local/bin/passmenu
!.local/share/applications/editor.desktop
!.local/share/applications/jar.desktop
!.local/share/nvim/site/pack/git-plugins/start/**
!.local/src/dwm/config.h
!.local/src/st/config.h
!.local/src/wterm/include/config.h
!.npmrc
!.profile
!.vice/sdl-vicerc
