# Ignore everything in my home directory by default
*

# Except for these
!.bash_aliases
!.bash_profile
!.bashrc
!.config/alacritty/alacritty.yml
!.config/cmus/rc
!.config/fontconfig/fonts.conf
!.config/gtk-3.0/settings.ini
!.config/i3/config
!.config/i3/move-cursor-window-center
!.config/i3status/config
!.config/khal/config
!.config/kitty/kitty.conf
!.config/lxterminal/lxterminal.conf
!.config/mimeapps.list
!.config/mpv/mpv.conf
!.config/nvim/**
!.config/redshift.conf
!.config/sway/config
!.config/trizen/trizen.conf
!.config/user-dirs.dirs
!.config/vdirsyncer/config
!.gitconfig
!.gitignore
!.gnupg/gpg-agent.conf
!.gtkrc-2.0
!.icons/default/index.theme
!.local/bin/encode_music.sh
!.local/bin/flacrename
!.local/bin/passmenu
!.local/share/applications/editor.desktop
!.local/share/applications/jar.desktop
!.local/src/dwm/config.h
!.local/src/st/config.h
!.local/src/wterm/include/config.h
!.npmrc
!.pam_environment
!.vice/sdl-vicerc
